version: "3.9"

services:
  backend:
    build: .
    container_name: back-prefeitura
    ports:
      - "4000:3000"
    env_file:
      - /opt/back-prefeitura/.env
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    container_name: postgres-prefeitura
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: prefeitura
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
